
%button.refresh Refresh

%span.back
  = link_to "&#8678;".html_safe, LinkHelper.previous_day(@date, @user)
%span
  = @date.strftime("%F")
%span.forward
  = link_to "&#8680;".html_safe, LinkHelper.next_day(@date, @user)

- if @authorized
  %h1= @user.name
  -if params[:week]
    = render partial: 'week', locals: { meals: @meals}
  -elsif params[:month]
    = render partial: 'month', locals: { meals: @meals}
  -else
    = render partial: 'day' # REMOVED LOCALS HERE
    = render partial: 'meals/meals_by_type', locals: {meals: @meals}