.change-page
  %span.change-page-link
    = link_to "&#8678;".html_safe, LinkHelper.previous_day(@date, @user), class: 'back'
  %span.date.change-page-link
    = @date.strftime("%F")
  %span.change-page-link
    = link_to "&#8680;".html_safe, LinkHelper.next_day(@date, @user), class: 'forward'

- if @authorized
  -if params[:week]
    = render partial: 'week', locals: { meals: @meals}
  -elsif params[:month]
    = render partial: 'month', locals: { meals: @meals}
  -else
    = render partial: 'day' # REMOVED LOCALS HERE
    = render partial: 'meals/meals_by_type', locals: {meals: @meals}