%h1 VildeIO
%h2 AI to keep you in tip top shape
= form_tag user_text_path do
  = field_set_tag do
    = label_tag :number, 'Enter Your Phone Number:'
    = text_field_tag :number
    = submit_tag 'Text Me!'

