.home
  .logo-container
    = image_tag 'COUNTED.png', class: "col-8 logo"
  .description
    %h2 AI to keep you in tip top shape.
  .sign-up
    %h4 Enter your number below to sign up today!
  .text-form
    = form_tag invite_user_path do
      = field_set_tag do
        .form-field
          = text_field_tag :phone_number, '', class: 'submit-box'
        .form-field
          = submit_tag 'Text Me!', class: 'submit'

