.home
  .logo-container
    = image_tag 'COUNTED.png', class: "col-8 logo"

  = image_tag "iphone_messages.png", class: "iphone-photo"
  .description
    AI to keep you in tip top shape.
  .sign-up
    Sign up is easy! Just input your phone and we'll text you!
  .text-form
    = form_tag invite_user_path do
      = field_set_tag do
        .form-field
          = text_field_tag :phone_number, '', class: 'submit-box', placeholder: "+1 (555) 555-5555"
        .form-field
          = submit_tag 'Text Me!', class: 'submit'

