.logo-container
  = image_tag 'HEALTHNUTAI.png', class: "logo"
.description
  %h2 AI to keep you in tip top shape
.sign-up
  %h4 Enter your number below to sign up today!
.text-form
  = form_tag invite_user_path do
    = field_set_tag do
      = text_field_tag :phone_number
      = submit_tag 'Text Me!'

