<!DOCTYPE html>
<html>
  <head>
    <title>VildeIO</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <nav>
    <button class="col-4 nav-link" id="nav-1">
      Day
      <!-- Will link to:  <%= LinkHelper.this_week(@date, @user) %> -->
    </button>
    <button class="col-4 nav-link" id="nav-2">
      Week
    </button>
    <button class="col-4 nav-link" id="nav-3">
      Month
    </button>
  </nav>

  <body>
    <%= yield %>
  </body>
</html>
